/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * tooltips
 * -------------------------------------------------------------------------- */
tooltip {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid #35709d;
}
/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    /* font-family: "Bitstream Vera Sans Mono"; */
    font-family: "JetBrains Mono";
    font-size: 14px;
}

/* Each module */
#battery,
#clock,
#cpu,
#disk,
#memory,
#mode,
#network,
#custom-vpn,
#pulseaudio,
#temperature,
#mpd,
#tray,
#custom-power {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    margin:2px;
    border-bottom: 2px solid #35709d;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
  /* No styles */
}

#cpu {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #900000;
    border: 1px solid #2f343a;
}

#custom-vpn {
    color: #00ff00;
}

#custom-vpn.down {
    /*color: orange;*/
    color: #888888;
}

#network {
    color: #00ff00;
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    color: orange;
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}
/* also inactive state */
#workspaces button {
    border-bottom: 2px solid #35709d;
    padding-left: 3px;
    padding-right:3px;
    margin: 2px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #4c7899;
    color: white;
    background-color: #35709d;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}
#mpd {color: #6aa3cd;}
#mpd.disconnected,
#mpd.paused,
#mpd.stopped {
    color: #888888;
}
